#home-subtitle {
  position:relative;
  top:-90px;
  left: 70px;
  padding-top: 1.1em;
  padding-left: .5em;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: normal;
  font-size: 1em;
  font-style: normal;
  opacity: .9;
}

#home-social {
  position:relative;
  top:-90px;
  left: 70px;
  font-size: 1.4em;
  text-align: center;
  opacity: .8;

  a {
    margin: 0 .2em;
  }
}